<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Practice</title>

    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/solid.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        @import url("public/min/css/main.css")
    </style>
</head>
<body>
    <section id="app" class="wrapper">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-info">
                <router-link class="navbar-brand" to="/">Brand</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <router-link class="nav-link" to="/">Home</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/product">Product</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/order">Order</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/firebase-product">Product(F)</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/firebase-order">Order(F)</router-link>
                        </li>
                        <!-- <li class="nav-item">
                            <router-link class="nav-link" to="/user/1">User</router-link>
                        </li> -->
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-align-justify fa-2x"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <router-link 
                                    v-if="!window.sessionStorage.getItem('isLogin')"
                                    class="dropdown-item" 
                                    to="/sign-up">
                                    Sign Up</router-link>
                                <router-link 
                                v-if="!window.sessionStorage.getItem('isLogin')"
                                class="dropdown-item" 
                                to="/sign-in">
                                Sign In</router-link>
                                <!-- <div class="dropdown-divider"></div> -->
                                <router-link 
                                v-if="window.sessionStorage.getItem('isLogin')"
                                class="dropdown-item" 
                                to="/sign-out">
                                Sign Out</router-link>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">

            <router-view></router-view>
            
        </main>

        <footer>
        </footer>
    </section>

    <!-- lodash 提供很多基本的工具函式，但都更好更快 -->
    <!-- 目前有用到 _.cloneDeep 複製一份一樣的(但修改並不會影響原本的) -->
    <!-- <script src="node_modules/lodash/dist/lodash.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <!-- jquery -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <!-- font-awesome -->
    <!-- <script src="node_modules/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script> -->
    <!-- <script src="node_modules/@fortawesome/fontawesome-free/js/solid.min.js"></script> -->

    <!-- bootstrap -->
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- day.js -->
    <script src="node_modules/dayjs/dayjs.min.js"></script>

    <!-- Vue -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> -->
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.min.js"></script>
    <script src="node_modules/vuex/dist/vuex.min.js"></script>

    <!-- Firebase -->
    <script src="node_modules/firebase/firebase-app.js"></script>
    <script src="node_modules/firebase/firebase-auth.js"></script>
    <script src="node_modules/firebase/firebase-firestore.js"></script>

    <!-- Public -->
    <script src="firebase-config.js"></script>
    <script src="firebase-init.js"></script>
    <script src="firebase-auth.js"></script>

    <!-- to read html file -->
    <script src="public/min/js/read_file.js"></script>

    <script type="module" src="public/router.js"></script>
    <script type="module" src="public/main.js"></script>

</body>
</html>