html, body {
    height: 100%;
    margin: 0;
    background-color: green;
}

.wrapper {
    height: 100%;
    margin: 0;
    background-color: gray;
}

header {
    
}

nav {
    
}

main {
    background-color: white;
    min-height: 85%;
    padding-top: 15px;
}

footer{
    background-color: black;
    min-height: 100px;
    /* 設定footer的高度 */
    /*height: 0px;*/
    /*box-sizing: border-box;*/
    /* 設定footer絕對位置在底部 */
    /*position: relative;*/
    /*bottom: 0;*/
    /* 展開footer寬度 */
    /*width: 100%;*/
    /*margin-top: 100px;*/
}

/* Product */
#product{

}

#prodcut-table {
    margin-top: 20px;
}

/* Order */
#order{

}

#order-table {
    margin-top: 20px;
}