<div id="order">
    <h1>Order</h1>
    <br>
    <div class="form-group">
        <input type="text" v-model="searchText" class="form-control" id="searchInput" placeholder="search...">
    </div>
    <input type="text" v-model="order.user.id" placeholder="UserID">
    <label v-for="(p,index) in products" style="margin-right: 5px;">
        <input type="checkbox" :true-value="p" v-model="order.products[p.id]" > {{ p.name }}
    </label>
    <button @click="addOrder(order)" class="btn btn-success">addOrder</button>
    <button @click="isEdit = !isEdit" class="btn btn-warning ml-auto">Edit</button>
    <table v-if="!isEdit" id="order-table" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Products</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="o in ordersFilter">
                <th>{{ o.id }}</th>
                <td>{{ o.user.id }}</td>
                <td>
                    <span v-for="(p,index) in o.products">
                        {{ p.name }}
                        <span v-if="index != o.products.length - 1">, </span>
                    </span>
                </td>
                <td>
                    <button @click="removeOrder(order)" class="btn btn-danger">removeOrder</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Edit mode -->
    <table v-if="isEdit" id="order-table" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Products</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="o in ordersFilter">
                <th><input class="form-control" v-model="o.id" disabled></th>
                <td><input class="form-control" v-model="o.user.id"></td>
                <td>
                    <label v-for="(p,index) in o.products" style="margin-right: 5px;">
                        <input type="checkbox" v-model="p" @change="changeProduct(o.products, p, index)"> {{ p.name }}
                    </label>
                </td>
                <td>
                    <button @click="removeOrder(o)" class="btn btn-danger">removeOrder</button>
                </td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>